*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f5f5f5;
}

nav{
    background: #fff;
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 10%;
}

.nav-links a{
    text-decoration: none;
    color: grey;
    font-weight: 600;
}

.container{
    margin: 100px auto;
    background: #fff;
    padding: 40px;
    display: flex;
    gap: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
}

.product-image{
    max-width: 580px;
    border-radius: 10px;
}

.product-details{
    margin-top: 150px;
}

.product-details h1{
    font-size: 2rem;
    margin-bottom: 15px;
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.desc{
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

.add-to-cart{
    background: rgb(255, 136, 0);
    color: #fff;
    border: none;
    padding: 15px 50px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.add-to-cart:hover{
    background: yellowgreen;
}

.related-section{
    max-width: 1300px;
    margin: 40px auto;
    text-align: center;
}

.related-section h2{
    margin-bottom: 30px;
    font-size: 2rem;
}

.related-products{
    display: flex;
    gap: 30px;
}

.product-card{
    background: #fff;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover{
    transform: translateY(-5px);
}


.product-card img{
    width: 100%;
}

footer{
    background: grey;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
}